<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>API RESTful</title>
</head>
<body>
    <h1>Welcome to my endpoints</h1>
    <ul>
        <li>POST: <a href="#">{% url 'create' %}</a></li>
        <li>GET: <a href="#"> {% url 'list_info' %}</a></li>
        <li>PUT: <a href="#"> {% url 'update_info' %}</a></li>
        <li>DELETE: <a href="#"> {% url 'delete_info' %}</a></li>
    </ul>
</body>
</html>
